.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1024px;
  margin: auto;
  justify-content: center;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

/* FORM */

form,
.stepTwo {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}

form > span {
  width: 100%;
  font-size: 12px;
  text-align: left;
}

form input,
.stepTwo span:nth-child(even) {
  border: 1px solid #d3d3d3;
  height: 45px;
  border-radius: 5px;
  background-color: #fcf9f9;
  margin: 5px 0 25px;
  padding: 0 16px;
}

/* Password */

form div,
.stepTwo div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form div > input {
  margin: 0;
  flex: 1;
}

.stepTwo :nth-child(6) span {
  border: 1px solid #d3d3d3;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  background-color: #fcf9f9;
  flex: 1;
  padding: 0 16px;
}

.stepTwo span:nth-child(even) {
  margin: 5px, 0;
  line-height: 45px;
}

form div > i,
.stepTwo div > i {
  line-height: 45px;
  padding-left: 8px;
}

.submit-button {
  width: 200px;
  color: white;
  background-color: #5c47d3;
  border: 1px solid #5c47d3;
  font-size: 15px;
  font-weight: 700;
  margin: 20px auto;
  cursor: pointer;
}

button {
  height: 45px;
  border-radius: 5px;
  padding: 0 16px;
  width: 200px;
  color: white;
  background-color: #5c47d3;
  border: 1px solid #5c47d3;
  font-size: 15px;
  font-weight: 700;
  margin: 20px auto;
  cursor: pointer;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

footer > span > a {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}
