.top-bar {
  height: 60px;
  border-bottom: 1px solid #e9ebeb;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 96vw;
  max-width: 1200px;
}

.Logo {
  height: 70%;
}
